.node {
  cursor: pointer;
}

.overlay{
    background-color:#EEE;
}
 
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
 
.node text {
  font-size:10px; 
  font-family:sans-serif;
}
 
.link {
  fill: none;
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.detectorCircle.show{
  display:block;
}

.activeDrag {
  display: none;
}


#tree-container {
  background-color: #151515;
}

#text-input {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 45px;
}

.text-rect {
  fill: rgba(0, 0, 0, 0)
}

#nodeMenu {
  position: absolute;
  color: white;
  right: 0;
}

#nodeMenu li {
  color: black;
  margin-left: 12px;
}